html {
  font-size: 100px;
}

body {
  background: url("../images/background.png") repeat;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

#box {
  position: relative;
}

#box .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  background: #383836;
  overflow: hidden;
  min-width: 307px;
  height: 100vh;
}
