<!DOCTYPE html>
<html lang="en" ng-app="test">
	<head>
		<meta charset="UTF-8">
		<title>iCloud</title>
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/iCloud.css">
	    <script src="js/jquery.js"></script>
	    <script src="js/angular.js"></script>		
	</head>
	<body ng-controller="testCtrl">
		<div id="box">
			<div class="left">
				<div class="left-top">
					<nav class=" navbar-default navbar-inverse" role="navigation">
	                    <div class="container-fluid">
	                        <!-- Brand and toggle get grouped for better mobile display -->
	                        <div class="navbar-header">
	                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                                <span class="sr-only">Toggle navigation</span>
	                                <span class="icon-bar"></span>
	                                <span class="icon-bar"></span>
	                                <span class="icon-bar"></span>
	                            </button>
	                            <a class="navbar-brand app-brand" href="#"></a>
	                        </div>
	
	                        <!-- Collect the nav links, forms, and other content for toggling -->
	                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                            <ul class="nav navbar-nav">
	                                <li class="dropdown">
	                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">提醒事项<span class="caret"></span></a>
	                                    <ul class="dropdown-menu" role="menu">
	                                        <li><a href="#">Action</a></li>
	                                        <li><a href="#">Another action</a></li>
	                                        <li><a href="#">Something else here</a></li>
	                                        <li class="divider"></li>
	                                        <li><a href="#">Separated link</a></li>
	                                        <li class="divider"></li>
	                                        <li><a href="#">One more separated link</a></li>
	                                    </ul>
	                                </li>
	                            </ul>
	                            <ul class="nav navbar-nav navbar-right">
	                                <li><a href="#" id="additem" class="iconfont" ng-click="addlist();save2local()">+</a></li>
	                            </ul>
	                        </div><!-- /.navbar-collapse -->
	                    </div><!-- /.container-fluid -->
	               </nav>
				</div>
				<div class="jihua">
					<span></span>
					<div>已计划</div>
				</div>
				<div my-ul>
					
					<li ng-class="{active:cu===$index}" ng-repeat="x in lists track by $index">
						<span class="circle {{x.theme}}"></span>
						<div class="center">
							<input class="wenzi" ng-model="x.name" ng-keyup="save2local()" type="text" />
							<!--<input type="text" />-->
							<span class="wifi"></span>
						</div>
					</li>
				</div>
			</div>
			<div class="right {{lists[cu].theme}}">
				<div class="right-top">
					<span class="sousuo"></span>
					<input class="search" type="text" placeholder="搜索所有提醒">
					<div class="top-right">
						<span>登录</span>
						<span></span>
					</div>
				</div>
				<div class="right-options">
					<span class="{{lists[cu].theme}}">{{lists[cu].name}}</span>
					<div class="options" ng-click="color($event)">选项</div>
				</div>
				<div class="right-finish">
					<ul class="uls">
						<li class="done">
							<a href=""><span class="s"></span>已完成: <span>1</span>项</a>
							<a href="" class="del">清除所有完成选项</a>
							<ul>
								<li class="yi">
									<div class="big">
										<div class="small"></div>
									</div>
									<input type="text" value="已完成一" />
								</li>
								<li class="lis">
									<a href=""><span class="s1"></span>未完成: <span>1</span>项</a>
								</li>
								<li class="wei">
									<div class="big"></div>
									<input type="text" value="未完成一" />
								</li>
								<li class="import">
									<div class="top"></div>
									<div class="back"></div>									
									<div class="bot"></div>
									<input class="text" type="text" />
								</li>
		 						<li block></li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>	
			<div class="color {{lists[cu].theme}}">
				<div class="box">
					<input type="text" ng-model="lists[cu].name" />
					<p>列表颜色</p>
					<ul>
						<li class="{{i}}" ng-repeat="i in colors" ng-click="lists[cu].theme=i;save2local()">
							<div></div>
						</li>
						
					</ul>
					<div class="color-bottom">
						<div class="bLeft">
							<a href="#">删除</a>
						</div>
						<div class="bRight">
							<a href="#">取消</a>
							<a href="#" ng-click="save2local()">完成</a>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</body>
	<script>
		app=angular.module("test",[]);
		
		////////////////////////////////////////////////////////    删 除
		
		app.directive("myUl",[function(){
			return{
				restrict:"AE",
				replace:true,
				template:'<ul class="left-bottom"><div ng-transclude></div></ul>',
				transclude:true,
				link:function($scope,el){
					$(document).on("keyup",":input",false)
					
					$(el).on("click",'li',function(){
						$(el).find("li").removeClass("active");
						$(this).addClass("active");
						var self=this;
						$scope.$apply(function(){
						
								$scope.cu=$(self).index()

							
						})
					})
					$(el).on("keyup","input",false);
					$(document).on("keyup",function(e){
						
	                    if(e.keyCode === 8||e.keyCode ===46){
	                        var index=$(".active").index()-1;
	                        $scope.$apply(function(){
	                        	if(index==-1){
	                        		return;
	                        	}else {
	                        		$scope.lists.splice(index,1);
	                        		$scope.save2local()
	                        	}
	                        })
	                     }
	                 })
					
					
				}										
			}							
		}])
		
		////////////////////////////////////////////////////////    新项目
		
		
		app.directive("block",[function(){
			return{
				restrict:"AE",
				template:'<li class="add"><input type="text" placeholder="新项目"  disabled/></li>',
				replace:true,
				link:function($scope,el){
					var obj=$("#box .right .right-finish .uls .done ul .import");
					$(el).on("click",function(){
						obj.toggleClass("active")
						$("#box .right .right-finish .uls .done ul .import input").focus()
						return false;
					})
					obj.on("click",false)
					$(document).on("click",function(){
						obj.removeClass("active");
					})
					
				}
				
			}
			
			
		}])
		
		
		
		app.controller("testCtrl",["$scope",function($scope){
			
			$scope.colors=["blue","green","yellow","brown","pink","orange","purple"];
			if(localStorage.reminder){
				$scope.lists=JSON.parse(localStorage.reminder)
				console.table($scope.lists)
			}else{
				$scope.lists=[];
			}
			
			$scope.cu=0;
			
			
			/////////////////////////////////////////////////////       数据更新
			
			$scope.save2local=function(){
				localStorage.reminder=JSON.stringify($scope.lists)
			}
			function maxId(){
				var max=-Infinity;
				for(var i=0;i<$scope.lists.length;i++){
					var v=$scope.lists[i];
					if(v.id>max){
						max=v.id
					}
				}
				return (max===-Infinity) ? 0:max;
			}
			
			////////////////////////////////////////////////////////    添 加 
			
			$scope.addlist=function(){
				var len=$scope.lists.length;
				var index=len % 7
				var v={
					id: maxId()+1,
					name:'新列表'+(len+1),
					theme:$scope.colors[index]
				}
				$scope.lists.push(v)
				
			}
			//颜色选择模块出现
			$scope.color=function(e){
				e.preventDefault()
                e.stopPropagation()
				$("#box .color").toggleClass("click");
				return false;
			}
			$("#box .color").on("click",false)
			$(document).on("click",function(){
				$("#box .color").removeClass("click");
			})
			
			
		}])
		
		
	</script>
</html>